body{ 
    background-image: url(images/sleepiest.webp);
    background-repeat: no-repeat;
    background-size: cover;
   
    }
 h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
    color: gold;      
 }
 .c1{
    text-align: center;
    margin: 300px;
    margin-top: 0%;
    margin-bottom: 0%;
    border:2px solid silver;
    font-family: fantasy; font-size: 30px;
    color: white;
 }
 .c2{ 
    text-align: center;
    color: gold;
    text-decoration: underline;
 }
 #musi{
    color: royalblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
 }
 #img1{
    border-radius: 50%;
    width: 100px;
 }
 footer{
    color: grey;
 }