*{
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 100px;
 }
 .mother{
     background-color: rgba(226, 225, 225, 0.849);
     border-radius: 20px;
     width: 400px;
     max-width: 100%;
     box-shadow:0px 5px 10px rgb(120, 146, 146);
     overflow: hidden;
     padding: 30px;
 }
 .header h2{
     font-family: Arial, Helvetica, sans-serif;
     color: tomato;

 }
 .formcontrol{
     margin-bottom: 10px;
     padding-bottom: 10px;
     position: relative;
 }
 .formcontrol label{
     display: inherit;
     margin-bottom: 2px;
 }
 .formcontrol input{
     border:2px solid tan;
     border-radius: 3px;
     display: block;
     font-family: inherit;
     padding:10px;
     width:100%;
 }
 .formcontrol i{
     position: absolute;
     top: 40px;
     right: 10px;
     visibility: hidden;
 }
 .formcontrol.success i.fa-check-circle {
     color: green;
     visibility: visible;
 }
 .formcontrol input:focus {
	outline: 0;
	border-color: rgb(135, 204, 164);
}
 .formcontrol.success input{
     border-color: chartreuse;
 }
 .formcontrol.error input{
     border-color: red;
 }
 form button{
     width: 100%;
     height: 30px;
     font-size: 20px;
     border: 2px solid rgb(196, 196, 196);
     border-radius: 3px;

 }
 .formcontrol small{
     color: red;
     position: absolute;
     left: 0%;
     visibility: hidden;
 }
 .formcontrol.error small{
     visibility: visible;
 }