*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background-color: thistle;
    font-family: cursive;
    min-height: 100vh;
}
header{
    font-size: 30px;
}
header,form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,form button{
    padding: 5px;
    font-size: 20px;
    border: none;
    background: white;
}
form button{
    background-color: white;
    cursor: pointer;
    transition: all 0.3 ease;
}
form button:hover{
    background-color: thistle;
    color: white;
}
.todolist{
    min-height: 30%;
    min-width: 50%;
    list-style: none;

}
.todo p{
    flex: 1;
}
.todo{
    margin: 10px;
    background-color: white;
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.finishbtn,.removebtn{
    background-color: red;
    color: white;
    border:none;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
}
.finishbtn{
    background-color: green;
}
.todoItem{
    padding: 0px 5px;
}
.fa{
    pointer-events: none;
}
